@mixin base-radial-gradient {
	background: -webkit-radial-gradient(60%, circle, black 30%, transparent 90%);
	background:    -moz-radial-gradient(60%, circle, black 30%, transparent 90%);
	background:      -o-radial-gradient(60%, circle, black 30%, transparent 90%);
	background:       radial-gradient(circle at 60%, black 30%, transparent 90%);
}

@mixin register-and-log-in-out-buttons {
	background-color: $font-color--medium-dark-gray;
	border: none;
	padding-top: 6px;
	padding-bottom: 6px;
	&:hover, &:focus {
		background-color: lighten($font-color--medium-dark-gray, 10%);
	}
}

// @mixin radial-gradient($position-left, $shape, $background-color, $percentage) {
// 	background: -webkit-radial-gradient($position-left, $shape, $background-color, transparent $percentage);
// 	background: -moz-radial-gradient($position-left, $shape, $background-color, transparent $percentage);
// 	background: -o-radial-gradient($position-left, $shape, $background-color, transparent $percentage);
// 	background: radial-gradient($shape at $position-left, black, transparent $percentage);
// }