/* ===================================
    Global Config
=================================== */

// Font Stacks

$font-family--primary: "Century Gothic", sans-serif;
$font-family--secondary: sans-serif;


// Descriptive Base Colors

$font-color--body: white;
$font-color--darkest-gray: #111;
$font-color--dark-gray: #222;
$font-color--dark-medium-gray: #444;
$font-color--medium-dark-gray: #666;
$font-color--medium-gray: #888;
$font-color--medium-light-gray: #999;

// Path to Assets

$path--rel: '../../assets/images';