/* ===================================
    Global Config
=================================== */

// Font Stacks

$font-family--primary: "Century Gothic", sans-serif;
$font-family--secondary: sans-serif;


// Descriptive Base Colors

$font-color--body: white;
$font-color--dark-gray: #888;


// Path to Assets

$path--rel: '../../assets/images';