/* ===================================
    Element Selectors
=================================== */
html, body {
	height: 100%;
}

body {
	background-color: black;
	color: $font-color--body;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	padding-left: 0;
	// li { 
	// 	list-style-type: none;
	// }
}

a:hover, a:focus {
	text-decoration: none;
}

a:hover {
	color: white !important;
	cursor: pointer;
}

h1, h3, h4 {
	letter-spacing: 0.5px;
}

h1, h3, h4, label {
	font-weight: 300;
}

h1, h3 {
	font-family: $font-family--primary;
}

h4, footer {
	font-family: $font-family--secondary;
}

label, input {
	font-size: 16px;
}