/* ===================================
    Element Selectors
=================================== */
html, body {
	height: 100%;
}

body {
	background-color: black;
	color: $font-color--body;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	padding-left: 0;
}

a:hover, a:focus {
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

a, h1, h2, h3, footer {
	font-family: $font-family--primary;
}

h1, h3, h4 {
	letter-spacing: 0.5px;
}

h1, h3, h4, h5, button {
	font-weight: 300;
}

h4, h5 {
	font-family: $font-family--secondary;
}

label {
	font-weight: 100;
}

button { // Can't list "input" here because of search bar
	font-size: em(16px);
}
