#background-img {
	background-attachment: fixed;
	background-image: url('#{$path--rel}/background.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.landing-page, #my-profile-page {
	.ranking-container {
		h1, h2 {
			background-color: $font-color--dark-gray;
			margin-bottom: 0;
			padding: 15px;
		}
		.user-stats {
			padding-top: 15px;
			padding-bottom: 15px;
			&:nth-child(even) {
				background-color: $font-color--darkest-gray;
			}
			&:nth-child(odd) {
				background-color: $font-color--dark-gray;
			}
			h3, h4 { // Rank number and username
				margin-top: 0;
				margin-bottom: 0;
				span {
					color: $font-color--medium-gray;
					display: block;
					font-family: $font-family--secondary;
					font-size: 14px;
				}
			}
			img {
				float: right;
			}
		}
	}
}

.landing-page {
	#youtube-player-placeholder, #youtube-player-advanced-settings-placeholder { // Placeholder
		margin-right: auto;
		margin-left: auto;
		width: 700px;
	}
	#youtube-player-placeholder { // Placeholder
		background-color: #444;
		height: 405px;
		margin-top: 209px;
		opacity: 0.85;
	}
	#youtube-player-advanced-settings-placeholder { // Placeholder
		border-right: 1px dashed #444;
		border-bottom: 1px dashed #444;
		border-left: 1px dashed #444;
		height: 200px;
		margin-top: -115px; // Factors in height of "#slide-down-button" (55px)
	}
	img {
		&.cherry-blossoms {
			position: absolute;
			height: auto;
			width: 400px;
			z-index: 1;
			&:first-child {
				left: 65px;
				top: 178px;
			}
			&:last-child {
				bottom: 100px;
				right: 100px;
			}
		}
	}
	.glyphicon-chevron-down, .glyphicon-chevron-up {
		color: $font-color--medium-light-gray;
		font-size: 55px;
		&:hover, &:focus {
			color: white;
		}
	}
	.glyphicon-chevron-down {
		cursor: pointer;
		display: block;
		margin-top: 60px;
		text-align: center;
	}
	.glyphicon-chevron-up {
		margin-left: 40%;
		top: 15px;
	}
	.second-video-row {
		margin-top: -384px;
	}
	.third-video-row {
		margin-top: -145px;
	}
	.video-thumbnail-placeholder { // Placeholder
		background-color: #444;
		height: 144px;
		width: 245px;
		img { // Play button
			display: block;
			margin-right: auto;
			margin-left: auto;
			padding-top: 44.5px; // (144px (height of YouTube player) / 2) - (55px (height of play button) / 2)
			height: auto; // Not sure why 55px doesn't work here
			width: 55px;
		}
	}
	h4 { // Video title and description
		margin-bottom: 0;
		margin-left: 2px;
		&.video-title { // No idea why "&.first-child" doesn't work but "&:last-child" works
			margin-top: 15px;
		}
		&:last-child { // Video description
			color: darken($font-color--body, 30%);
			margin-top: 2px;
		}
	}
	.ranking-container {
		margin-top: 40px;
		h1 {
			margin-top: 0;
		}
		img {
			height: auto;
			width: 100px;
		}
	}
}

#my-profile-page {
	padding-top: 25px;
	h2 {
		font-family: $font-family--primary;
	}
	h2:not(.h2-username) {
		display: inline-block;
		font-weight: 300;
		letter-spacing: 0.5px;
	}
	#events-container, .ranking-container {
		height: 600px;
	}
	#events-container, #profile-container {
		background-color: $font-color--dark-medium-gray;
	}
	#events-container {
		overflow-y: auto;
		.event-placeholder { // Placeholder
			background-color: $font-color--medium-light-gray;
			height: 110px;
			width: 188px;
		}
		h5 {
			margin-bottom: 0;
			margin-left: 2px;
			&.event-name {
				margin-top: 7.5px;
			}
			&.event-description {
				color: darken($font-color--body, 25%);
				margin-top: 1px;
				padding-bottom: 20px;
			}
		}
	}
	#profile-container {
		overflow-x: hidden;
		height: 546px;
		width: 100%;
		img, h2 {
			margin-top: 50px;
		}
		img#avatar {
			height: 150px;
			width: 150px;
		}
		h2 { // Username
			font-weight: 600;
			letter-spacing: 1px;
		}
		#edit-profile-link-container {
			margin-top: 55px;
			a { // "Edit Profile"
				font-size: 16px;
				&:hover {
					color: white;
				}
			}
		}
		#profile-details {
			background-color: black;
			height: 100px;
			margin-top: -118px;
			h5 { // Placeholder
				top: 44px;
				position: relative;
				text-align: center;
			}
		}
		#projects-container {
			h3 {
				margin-top: 30px;
			}
			.project-thumbnail-placeholder { // Placeholder
				background-color: $font-color--medium-light-gray;
				margin-bottom: 38px;
				height: 75px;
				width: 130px;
			}
			h5 {
				margin-top: 0;
				margin-bottom: 1px;
				&:last-child {
					color: darken($font-color--body, 25%);
				}
			}
		}
	}
	ul.nav-tabs { // "Profile", "My Events", "Messages", "Groups", "Favorites"
		border-bottom: 1px solid black;
		margin-top: 0;
		li a {
			background-color: $font-color--darkest-gray;
			border-right: 1px solid black;
			border-bottom: 3px solid black;
			border-radius: 0;
			font-family: $font-family--primary;
			font-size: 1.5em;
			&.my-profile-link:hover { // "My Profile"
				border-left: 1px solid $font-color--dark-medium-gray;
			}
			&:not(.my-profile-link) { // Not "My Profile"
				border-left: 1px solid black;
			}
		}
	}
	.ranking-container {
		overflow-y: auto;
		h2 { // "Ranking"
			margin-top: 0;
		}
		img {
			height: auto;
			width: 60px;
		}
	}
}

.active-nav-tab, ul.nav-tabs li a:hover, ul.nav-tabs li a:focus {
	background-color: $font-color--dark-medium-gray !important;
	border-top: 1px solid $font-color--dark-medium-gray !important;
	color: white;
}

.active-nav-tab {
	border-bottom: 3px solid $font-color--dark-medium-gray !important;
}