#landing-page {
	img.cherry-blossoms {
		position: absolute;
		height: auto;
		width: 400px;
		z-index: 1;
		&:first-child {
			left: 65px;
			top: 178px;
		}
		&:last-child {
			bottom: 100px;
			right: 100px;
		}
	}
	#youtube-player-placeholder, #youtube-player-advanced-settings-placeholder { // Placeholder
		margin-right: auto;
		margin-left: auto;
		width: 700px;
	}
	#youtube-player-placeholder { // Placeholder
		background-color: #444;
		height: 405px;
		margin-top: 209px;
		opacity: 0.85;
	}
	#youtube-player-advanced-settings-placeholder { // Placeholder
		border-right: 1px dashed #444;
		border-bottom: 1px dashed #444;
		border-left: 1px dashed #444;
		height: 200px;
	}
	h1 {
		margin-top: 210px;
	}
	h1:not(#ranking) {
		margin-left: 15px;
	}
	.second-video-row {
		margin-top: -409px;
	}
	.third-video-row {
		margin-top: -145px;
	}
	.video-thumbnail-placeholder { // Placeholder
		background-color: #444;
		height: 144px;
		width: 245px;
	}
	h4 {
		margin-bottom: 0;
		margin-left: 2px;
		&.video-title { // No idea why "&.first-child" doesn't work but "&:last-child" works
			margin-top: 15px;
		}
		&:last-child {
			color: darken($font-color--body, 30%);
			margin-top: 2px;
		}
	}
	#ranking-container {
		h1#ranking {
			background-color: #222;
			margin-bottom: 0;
			margin-left: -15px; // Aligns "Ranking" container with user stats container
			margin-right: -15px; // Aligns "Ranking" container with user stats container
			padding: 15px;
		}
		.user-stats {
			padding-top: 15px;
			padding-bottom: 15px;
			&:nth-child(even) {
				background-color: #111;
			}
			&:nth-child(odd) {
				background-color: #222;
			}
			h3 {
				margin-top: 0;
				&:nth-child(2) {
					font-weight: 300;
				}
				span {
					color: $font-color--dark-gray;
					display: block;
					font-family: $font-family--secondary;
					font-size: 14px;
				}
			}
			img {
				float: right;
				height: auto;
				width: 100px;
			}
		}
	}
}