#landing-page {
	img.cherry-blossoms {
		position: absolute;
		height: auto;
		width: 400px;
		z-index: 1;
		&:first-child {
			left: 65px;
			top: 178px;
		}
		&:last-child {
			bottom: 100px;
			right: 100px;
		}
	}
	#youtube-player-placeholder, #youtube-player-advanced-placeholder { // Placeholder
		margin-right: auto;
		margin-left: auto;
		width: 700px;
	}
	#youtube-player-placeholder { // Placeholder
		background-color: #444;
		height: 405px;
		margin-top: 209px;
		opacity: 0.85;
	}
	#youtube-player-advanced-placeholder { // Placeholder
		border-right: 1px dashed #444;
		border-bottom: 1px dashed #444;
		border-left: 1px dashed #444;
		height: 200px;
	}
	h1 {
		margin-top: 210px;
		margin-left: 15px;
	}
	.video-thumbnail-container {
		height: 160px;
		width: 100%;
		&:not(.first-video-row) {
			margin-top: 58.76px; // h1 height (40px) + margin-bottom (18.760px)
		}
		.video-thumbnail-placeholder {
			background-color: #444;
			height: 144px;
			width: 245px;
		}
	}
	h4 {
		margin-bottom: 0;
		margin-left: 2px;
		&.video-title { // No idea why "&.first-child" doesn't work but "&:last-child" works
			margin-top: 0 ;
		}
		&:last-child {
			color: darken($font-color--body, 30%);
			margin-top: 2px;
		}
	}
}