#background-img {
	background-attachment: fixed;
	background-image: url('#{$path--rel}/background.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.landing-page {
	#youtube-player-placeholder, #youtube-player-advanced-settings-placeholder { // Placeholder
		margin-right: auto;
		margin-left: auto;
		width: 700px;
	}
	#youtube-player-placeholder { // Placeholder
		background-color: #444;
		height: 405px;
		margin-top: 209px;
		opacity: 0.85;
	}
	#youtube-player-advanced-settings-placeholder { // Placeholder
		border-right: 1px dashed #444;
		border-bottom: 1px dashed #444;
		border-left: 1px dashed #444;
		height: 200px;
		margin-top: -115px;
	}
	img {
		&.cherry-blossoms {
			position: absolute;
			height: auto;
			width: 400px;
			z-index: 1;
			&:first-child {
				left: 65px;
				top: 178px;
			}
			&:last-child {
				bottom: 100px;
				right: 100px;
			}
		}
		&#slide-down-button, &#slide-up-button {
			margin-left: 47.5%;
			height: 55px;
			width: 55px;
		}
		&#slide-down-button {
			@include rotate(90deg);
			cursor: pointer;
			margin-top: 60px;
		}
		&#slide-up-button {
			@include rotate(-90deg);
			margin-top: 60px;
		}
	}
	h1 {
		margin-top: 40px;
		&:not(#ranking) {
			margin-left: 15px;
		}
	}
	.second-video-row {
		margin-top: -409px;
	}
	.third-video-row {
		margin-top: -145px;
	}
	.video-thumbnail-placeholder { // Placeholder
		background-color: #444;
		height: 144px;
		width: 245px;
	}
	h4 { // video title and description
		margin-bottom: 0;
		margin-left: 2px;
		&.video-title { // No idea why "&.first-child" doesn't work but "&:last-child" works
			margin-top: 15px;
		}
		&:last-child { // video description
			color: darken($font-color--body, 30%);
			margin-top: 2px;
		}
	}
	#ranking-container {
		h1#ranking {
			background-color: $font-color--dark-gray;
			margin-bottom: 0;
			margin-left: -15px; // Aligns "Ranking" container with user stats container
			margin-right: -15px; // Aligns "Ranking" container with user stats container
			padding: 15px;
		}
		.user-stats {
			padding-top: 15px;
			padding-bottom: 15px;
			&:nth-child(even) {
				background-color: $font-color--darkest-gray;
			}
			&:nth-child(odd) {
				background-color: $font-color--dark-gray;
			}
			h3 { // Rank number and username
				margin-top: 0;
				span {
					color: $font-color--medium-gray;
					display: block;
					font-family: $font-family--secondary;
					font-size: 14px;
				}
			}
			img {
				float: right;
				height: auto;
				width: 100px;
			}
		}
	}
}