@media only screen and (max-width: 1621px) {
	
	nav {
		&.navbar-default {
			background: -webkit-radial-gradient(70%, circle, black 30%, transparent 90%);
			background:    -moz-radial-gradient(70%, circle, black 30%, transparent 90%);
			background:      -o-radial-gradient(70%, circle, black 30%, transparent 90%);
			background:       radial-gradient(circle at 70%, black 30%, transparent 90%);
		}
	}

}

@media only screen and (max-width: 1199px) {
// Bootstrap's "md" (medium) viewport width
	nav {
		&.navbar-default {
			@include base-radial-gradient;
			.navbar-header {
				width: 100%;
				img {
					&#musiclaps-logo {
						margin-top: 25px;
						height: 37.5px;
						width: auto;
					}
					&#sword-slash, &#uzumasa-limelight-logo {
						margin-top: 18px;
						height: 75px;
						width: auto;
					}
				}
			}
			.navbar-collapse {
				background: -webkit-radial-gradient(50%, circle, black, transparent 90%);
				background:    -moz-radial-gradient(50%, circle, black, transparent 90%);
				background:      -o-radial-gradient(50%, circle, black, transparent 90%);
				background:       radial-gradient(circle at 50%, black, transparent 90%);
				border-top: none;
				margin-top: 12px;
				position: relative;
				z-index: 1;
				ul.navbar-right {
					&:not(#logged-in) {
						&.navbar-nav li a {
							&.login, &.register {
								margin-top: 5px;
								text-align: center;
							}
						}
					}
				}
			}
		}
	}

	.landing-page {
		img {
			&.cherry-blossoms {
				&:first-child {
					left: 0;
				}
				&:last-child {
					right: 35px;
				}
			}
		}
		.glyphicon-chevron-up {
			margin-left: 15%;
		}
		.second-video-row {
			margin-top: -700px;
		}
		.third-video-row {
			margin-top: -445px;
		}
		.ranking-container {
			visibility: hidden;
		}
	}

}

@media only screen and (max-width: 991px) {
// Bootstrap's "sm" (small) viewport width
	nav {
		&.navbar-default {
			.navbar-header {
				img {
					&#musiclaps-logo {
						margin-left: 5px;
					}
				}
			}
		}
	}

	.landing-page {
		img {
			&.cherry-blossoms {
				&:first-child {
					left: -125px;
				}
				&:last-child {
					right: -90px;
				}
			}
		}
		.glyphicon-chevron-up {
			margin-left: 5%;
		}
	}
}

@media only screen and (max-width: 796px) {
	.col-xs-12.col-sm-4 {
		padding-left: 0;
	}
}

@media only screen and (max-width: 767px) {
	h1 { // "Most Viewed"
		text-align: center;
	}
	.col-xs-12.col-sm-4 {
		padding-left: 15px;
		.video-thumbnail-placeholder {
			margin-right: auto;
			margin-left: auto;
		}
		h4 {
			text-align: center;
			&:last-child {
				margin-bottom: 40px;
			}
		}
	}
}