nav {
	&.navbar {
		height: 105px;
	}
	&.navbar-default {
		@include base-radial-gradient;
		border: none;
		margin-bottom: 0;
		.navbar-header {
			width: 75%;
			button.navbar-toggle {
				margin-top: 35px;
				&:hover, &:focus {
					background-color: black;
				}
			}
			a.navbar-brand {
				margin-top: 35px;
				span#glyphicon-search-container {
					background-color: #444;
					padding: 3.5px 0 3.5px 5px;
					.glyphicon-search {
						color: white;
						padding-right: 5px;
					}
				}
			}
			img {
				&#musiclaps-logo {
					margin-top: 17px;
					margin-left: 60px;
					height: 50px;
					width: auto;
				}
				&#sword-slash, &#uzumasa-limelight-logo {
					margin-top: 3px;
					height: 100px;
					width: auto;
				}
			}
		}
		ul.navbar-right {
			&:not(.logged-in) {
				font-size: 1.43em; // target (20px) / context (14px) = result (1.43em)
				letter-spacing: 0.5px;
				text-transform: uppercase;
				&.navbar-nav li a { // This level of specificity is necessary
					color: $font-color--medium-light-gray;
					&.register, &.login {
						margin-top: 13px;
						&:hover {
							color: white;
						}
					}
				}
			}
			&.logged-in {
				li {
					&#welcome-username, input {
						font-size: 1.14em; // target (16px) / context (14px) = result (1.14em)
					}	
					&#welcome-username {
						color: $font-color--medium-light-gray;
						margin-top: 35px;
						margin-right: 30px;
					}
					input { // "Log out"
						@include register-and-log-in-out-buttons;
						margin-top: 28px;
						padding-right: 12px; // Same as "Log in" on modal
						padding-left: 12px; // Same as "Log in" on modal
					}
				}
			}
		}
	}
}