nav {
	&.navbar {
		height: 109px;
	}
	&.navbar-default {
		background: -webkit-radial-gradient(60%, circle, black 30%, transparent 90%);
		background:    -moz-radial-gradient(60%, circle, black 30%, transparent 90%);
		background:      -o-radial-gradient(60%, circle, black 30%, transparent 90%);
		background:       radial-gradient(circle at 60%, black 30%, transparent 90%);
		border: none;
		margin-bottom: 0;
		.navbar-header {
			width: 75%;
			a.navbar-brand {
				margin-top: 35px;
				span#glyphicon-search-container {
					background-color: #444;
					padding: 3.5px 0 3.5px 5px;
					.glyphicon-search {
						color: white;
						padding-right: 5px;
					}
				}
			}
			img {
				&#musiclaps-logo {
					margin-top: 17px;
					margin-left: 55px;
					height: 50px;
					width: auto;
				}
				&#sword-slash, &#uzumasa-limelight-logo {
					margin-top: 5px;
					height: 100px;
					width: auto;
				}
			}
		}
		ul.navbar-right {
			font-family: $font-family--primary;
			&:not(#logged-in) {
				font-size: 20px;
				letter-spacing: 0.5px;
				text-transform: uppercase;
				&.navbar-nav li a { // This level of specificity is necessary
					color: $font-color--medium-light-gray;
					&#login, &#register {
						margin-top: 13px;
						&:hover {
							color: white;
						}
					}
				}
			}
			&#logged-in {
				li {
					&#welcome-username {
						color: $font-color--medium-light-gray;
						font-size: 18px;
						margin-top: 34px;
						margin-right: 30px;
					}
					input { // "Log out"
						background-color: black;
						border: 1px solid white;
						margin-top: 28px;
						padding: 6px 12px; // Same as "Log in" on modal
						&:hover, &:focus {
							color: darken(white, 10%);
						}
					}
				}
			}
		}
	}
}