nav {
	&.navbar {
		height: 109px;
	}
	&.navbar-default {
		background: -webkit-radial-gradient(60%, circle, black, transparent 90%);
		background: -moz-radial-gradient(60%, circle, black, transparent 90%);
		background: -o-radial-gradient(60%, circle, black, transparent 90%);
		background: radial-gradient(circle at 60%, black, transparent 90%);
		border: none;
		.navbar-header {
			width: 75%;
			a.navbar-brand {
				margin-top: 35px;
				span#glyphicon-search-container {
					background-color: #444;
					padding: 3.5px 0 3.5px 5px;
					.glyphicon-search {
						color: white;
						padding-right: 5px;
					}
				}
			}
			img {
				&#musiclaps-logo {
					margin-left: 55px;
					margin-top: 17px;
					height: 50px;
					width: auto;
				}
				&#sword-slash, &#uzumasa-limelight-logo {
					margin-top: 5px;
					height: 100px;
					width: auto;
				}
			}
		}
		ul.navbar-right {
			font-family: $font-family--primary;
			font-size: 20px;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			&.navbar-nav li a { // This level of specificity is necessary
				color: #999;
				&#login, &#sign-up {
					margin-top: 13px;
				}
			}
		}
	}
}